body {
  padding-top: 75px;
  padding-bottom: 40px;
  background-color: #eee;
}

.post {
  display: table-cell;
  width: 881px;
}

.points {
  border: 1px solid #FF9800;
  padding: 10px;
  text-align: center;
}

.up-down-buttons {
  padding-top: 13px;
  padding-right: 0;
  height: 62px;
  text-align: right;
}

.up-down-buttons button {
  padding: 8px;
}